<div class="container"> 
  
    <div class="row">
      <div class="col-md-8">
  
        <div class="bg-info p-4 text-center">
        <h1>Contact Our<br>Customer Support Center <img src="assets\img\abc.jpg"  width="304" height="236"> </h1>
      </div>
        
     
        <div class="bg-info p-4 text-center">
        <h2>     Contact Information <br></h2>
        <h3>Please fill out your contact information below</h3>
      </div>
        <form>
           
           <div class="form-group">
            
              <label for="" class="required">First Name</label>
              <input type="text"  name="firstname" class="form-control" formControlName="firstname">
  
            </div>
  
            <div class="form-group">
            
              <label for="" class="required">Last Name</label>
              <input type="text"  name="lastname" class="form-control" formControlName="lastname">
                      
            </div>
         
  
            <div class="form-group">
              <label for="" class="required">Email</label>
              <input type="email"  name="email" class="form-control" formControlName="email">
            </div>
  
            <div class="form-group">
              <label for="" class="required">Phone</label>
              <input type="number"  name="phone" class="form-control" formControlName="phone">
            </div>
  
            <div class="form-group">
              <label for="" class="required">Address</label>
              <input type="text"  name="address" class="form-control" formControlName="address">
            </div>
           
            <br>
            <div class="d-grid">
              <input type="submit"  value="Submit Form" class="btn btn-primary">
            </div>
        </form>
      </div>
    </div>
  </div>